body{
 background: linear-gradient(90deg, rgba(173, 70, 255, 0.8) 0%, rgba(246, 51, 154, 0.8) 50%, rgba(43, 127, 255, 0.8) 100%);

}
.icon{
    display: flex;
    justify-content: space-between;
    /* margin-left: 10px; */
    padding:30px;
    align-items: center;
}
#h2{
    padding:10px;
 background: linear-gradient(135deg, #AD46FF 0%, #F6339A 50%, #2B7FFF 100%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;

}
.nav{
    display: flex;
    background-color: white;
    /* padding: 20px 20px; */
    justify-content: space-between;
    align-items: center;
    height: 70px;

}
.nav ul{
    display: flex;
    list-style: none;
    /* margin-left: auto; */
}
.nav ul li{
    display: flex;
    margin-right: 40px;
    padding: 15px;

}
.nav ul li a{
    text-decoration: none;
}
.nav ul li a:hover{
    color: red;
}
.button{
background: linear-gradient(90deg, #AD46FF 0%, #F6339A 100%);
color: white;
    border-radius: 80px;
    align-items: center;
    border-style: none;
}
.button li{
    align-items: center;
}
.logo{
    display: flex;
    margin-top: 200px;

}
.text{
    margin-top: 200px;
    margin-left: 200px;
}
.social{
    padding-left: 10px;
    font-size: 30px;
    margin-top: 5px;
    color:azure;
}
.connect{
    font-size: 30px;
    margin-top:0px;
}
.share{
    margin-top: 20px;
}
.form{
    width: 400px;
    height: 400px;
    background-color: white;
    box-shadow: 0px 5px 10px black;
    border-radius: 20px;
    margin-left: 700px;
    margin-top:50px ;
    padding: 10px;
}
