body{
 background: linear-gradient(90deg, rgba(173, 70, 255, 0.8) 0%, rgba(246, 51, 154, 0.8) 50%, rgba(43, 127, 255, 0.8) 100%);
/* background-color: aliceblue; */
}
.icon{
    display: flex;
    justify-content: space-between;
    /* margin-left: 10px; */
    padding:30px;
    align-items: center;
}
#h2{
    padding:10px;
 background: linear-gradient(135deg, #AD46FF 0%, #F6339A 50%, #2B7FFF 100%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;

}
.nav{
    display: flex;
    background-color: white;
    /* padding: 20px 20px; */
    justify-content: space-between;
    align-items: center;
    height: 70px;

}
.nav ul{
    display: flex;
    list-style: none;
    /* margin-left: auto; */
}
.nav ul li{
    display: flex;
    margin-right: 40px;
    padding: 15px;

}
.nav ul li a{
    text-decoration: none;
}
.nav ul li a:hover{
    color: red;
}
.button{
background: linear-gradient(90deg, #AD46FF 0%, #F6339A 100%);
color: white;
    border-radius: 80px;
    align-items: center;
    border-style: none;
}
.button li{
    align-items: center;
}
.div1{
    display: flex;
}
.div1 img{
    padding: 30px;
}
#social{
    margin-top: 40px;
    /* padding:10px */
}
.form{
    width: 400px;
    height:600px;background-color: white;
    border-radius: 20px;
    padding: 10px;
    margin-left: 600px;
    margin-top: 2px;
    align-items: center;

}
#full{
    border-radius: 10px;
    width: 300px;
    height: 40px;
    /* margin: 30px; */


}
#user{
     border-radius: 10px;
    width: 300px;
    height: 40px;
/* margin: 30px; */

}
#email{
     border-radius: 10px;
    width: 300px;
    height: 40px;
    /* margin: 30px; */
}
#pass{
     border-radius: 10px;
    width: 300px;
    height: 40px;
    /* margin: 30px; */
}
