body{
 /* background: linear-gradient(90deg, rgba(173, 70, 255, 0.8) 0%, rgba(246, 51, 154, 0.8) 50%, rgba(43, 127, 255, 0.8) 100%); */
/* background-color: aliceblue; */
background-image: linear-gradient(to right,#FAF5FF, #EFF6FF);
}
.icon{
    display: flex;
    justify-content: space-between;
    /* margin-left: 10px; */
    padding:30px;
    align-items: center;
}
#p{
    padding:10px;
  background: linear-gradient(135deg, #AD46FF 0%, #F6339A 50%, #2B7FFF 100%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 10px;
    font-style: normal;

}
.nav{
    display: flex;
    background-color: white;
    /* padding: 20px 20px; */
    justify-content: space-between;
    align-items: center;
    height: 70px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);

}
.nav ul{
    display: flex;
    list-style: none;
    /* margin-left: auto; */
}
.nav ul li{
    display: flex;
    margin-right: 40px;
    padding: 15px;

}
.nav ul li a{
    text-decoration: none;
    color: black;
}
.nav ul li a:hover{
    color: red;
}
.button{
background: linear-gradient(90deg, #AD46FF 0%, #F6339A 100%);
color: white;
    border-radius: 80px;
    align-items: center;
    border-style: none;
}
.button li{
    align-items: center;
}
.sec1{
    width:50%;
    height:auto;
    background-color: white;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-top:30px;
    padding:20px;
    margin-left: 300px;
    background-color: #FFFFFF; 

}
.profile{
    display: flex;
}
.profile span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
span.p2{
    font-size: 15px;
    color: gray;
}
.profile img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}
.img1 img{
  width:800px;
  height: 400px;


}
.img1{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;

}
.text p{
    color:#364153;
    
}
.act{
    display: flex;
    gap:50px;
}
.act div{
    display: flex;
    margin-top: 20px;
    color: #99A1AF;
}

 @media (max-width: 768px) {

  
  .sec1 {
    width: 90%;          
    margin: 20px auto;   
    padding: 10px;       
  }

  
  .img1 img {
    width: 100%;         
    /* height: auto;         */
  }
  
  .profile img {
    width: 60px;         
    height: 60px;
  }

  
  .profile span {
    font-size: 16px;     
  }
  .profile span.p2 {
    font-size: 12px;
  }

  
  .nav ul {
    flex-direction: column;     
    display: none;              
    position: absolute;
    top: 70px;
    right: 0;
    width: 200px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }

  .nav ul.show {
    display: flex;              
  }

  
  .button {
    font-size: 14px;
    padding: 8px 12px;
  }

  
  .act {
    gap: 15px;                  
    flex-wrap: wrap;            
  }
}



 .menu-btn{
  display: none;
  border: none;
  background: transparent;
  font-size: 24px;
  cursor: pointer;
  margin-right: 20px;
} 


@media (max-width: 768px){

  .nav{
    position: relative;
    padding: 0 10px;
  }

  .icon{
    padding: 10px;
  }

  .menu-btn{
    display: block;
  }

  .nav ul{
    position: absolute;
    top: 70px;
    right: 10px;

    width: 220px;
    flex-direction: column;
    gap: 0;

    background: white;
    padding: 10px;
    border-radius: 12px;

    box-shadow: 0 10px 20px rgba(0,0,0,0.15);

    display: none; 
  }

  .nav ul.show{
    display: flex; 
  }

  .nav ul li{
    margin-right: 0;
    padding: 10px;
  }

  .button{
    width: 100%;
    margin-top: 0;
  }

  .button li{
    justify-content: center;
  }
} 

